<section class="row m-0">
  <div class="center-div d-flex justify-content-center">
      <div class="col-10 text-center">
          <img src="/images/site/logo.png" alt="logo" width="150" />
          <h2 class="text-orange text-white mt-3">Welecome to Registration Form</h2>
          <p class="text-white mt-3" style="font-size: 1.25em;">
              This is a sample registration form built using ASP.Net and angular<br />
              The .Net version used for this demo is .Net 8 with the help of clean architecture<br />
              and Angular version is Angular 18 without standalone components
          </p>
          <button routerLink="/form" type="button" class="btn btn-orange px-4">Register</button>
      </div>
  </div>
</section>