<div class="container min-vh-50 py-6 d-flex justify-content-center align-items-center"
    style="max-width:1920px; height: calc(100vh - 56px);">
    <div class="row">
        <div class="col-md-12 text-center">
            <i class="bi bi-check-circle-fill text-success" style="font-size:10em;"></i>
            <h2 class="text-success mt-0">Thank You</h2>
            <p class="text-muted" style="font-size: 1.3em;">Your registration was successful</p>
            <a class="btn btn-success px-4" routerLink="/" role="button">Go Home</a>
        </div>
    </div>
</div>
